html, body {

    overflow: hidden;
}

body {
    font-size: 4vh;
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-image 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: black;
    overflow: hidden; /* prevent accidental scroll */
    height: 100dvh;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    line-height: 1; /* Adjust this number to control spacing */
}

li {
  margin: 0.2em 0; /* scales with font size */
}

a {
    text-decoration: none; /* Remove underline */
    color: black; /* Ensure links are black too */
}

a:hover {
    font-style: italic;
}

li.name-item {
    -webkit-touch-callout: none; /* Disable long-press menu on iOS */
    -webkit-user-select: none;   /* Optional: prevent text selection */
}
